In [29]:
import pandas as pd

# Load the uploaded dataset
df = pd.read_csv('C:\\Users\\Hiwi\\Documents\\week5\\data.csv')
# Preview the first few rows
df.head()

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,ChannelId,Amount,Value,TransactionStartTime,PricingStrategy,FraudResult
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256,ProviderId_6,ProductId_10,airtime,ChannelId_3,1000.0,1000,2018-11-15T02:18:49Z,2,0
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-20.0,20,2018-11-15T02:19:08Z,2,0
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256,ProviderId_6,ProductId_1,airtime,ChannelId_3,500.0,500,2018-11-15T02:44:21Z,2,0
3,TransactionId_380,BatchId_102363,AccountId_648,SubscriptionId_2185,CustomerId_988,UGX,256,ProviderId_1,ProductId_21,utility_bill,ChannelId_3,20000.0,21800,2018-11-15T03:32:55Z,2,0
4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-644.0,644,2018-11-15T03:34:21Z,2,0

In [33]:
from src.features.proxy_target import engineer_proxy_target

df_with_target = engineer_proxy_target(df)

# Save if needed
df_with_target.to_csv('data_with_proxy_target.csv', index=False)

C:\Users\Hiwi\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [39]:
df_with_target = engineer_proxy_target(df)

C:\Users\Hiwi\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [34]:
from src.pipelines import build_transaction_pipeline


pipeline = build_transaction_pipeline()
df_transformed = pipeline.fit_transform(df)

# Optional: convert result to DataFrame
if not isinstance(df_transformed, pd.DataFrame):
    df_transformed = pd.DataFrame(df_transformed.toarray() if hasattr(df_transformed, "toarray") else df_transformed)

df_transformed.head()

,0,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,47,48
0,-0.046371,-0.072291,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,-0.054643,-0.080251,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,-0.050426,-0.076352,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,0.107717,0.096648,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,-0.059704,-0.075183,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [35]:
df_transformed.shape

(95662, 49)

In [36]:
# If OneHotEncoder was used, the output is numpy
# Use this to get column names (optional)
from sklearn.compose import ColumnTransformer

pipeline.named_steps['preprocessing'].transformers_[0][2]  # numerical columns
pipeline.named_steps['preprocessing'].transformers_[1][1].named_steps['onehot'].get_feature_names_out()

array(['x0_UGX', 'x1_ProviderId_1', 'x1_ProviderId_2', 'x1_ProviderId_3',
       'x1_ProviderId_4', 'x1_ProviderId_5', 'x1_ProviderId_6',
       'x2_ProductId_1', 'x2_ProductId_10', 'x2_ProductId_11',
       'x2_ProductId_12', 'x2_ProductId_13', 'x2_ProductId_14',
       'x2_ProductId_15', 'x2_ProductId_16', 'x2_ProductId_19',
       'x2_ProductId_2', 'x2_ProductId_20', 'x2_ProductId_21',
       'x2_ProductId_22', 'x2_ProductId_23', 'x2_ProductId_24',
       'x2_ProductId_27', 'x2_ProductId_3', 'x2_ProductId_4',
       'x2_ProductId_5', 'x2_ProductId_6', 'x2_ProductId_7',
       'x2_ProductId_8', 'x2_ProductId_9', 'x3_airtime',
       'x3_data_bundles', 'x3_financial_services', 'x3_movies',
       'x3_other', 'x3_ticket', 'x3_transport', 'x3_tv',
       'x3_utility_bill', 'x4_ChannelId_1', 'x4_ChannelId_2',
       'x4_ChannelId_3', 'x4_ChannelId_5', 'x5_0', 'x5_1', 'x5_2', 'x5_4'],
      dtype=object)

In [37]:
df['TransactionStartTime'].head()
df['TransactionStartTime'].isnull().sum()

0

In [38]:
from src.feature_engineering import TransactionTimeFeatures

# Apply transformer
dt = TransactionTimeFeatures(datetime_col='TransactionStartTime')
df_dt = dt.fit_transform(df)

# Now inspect the result
df_dt.columns

Index(['TransactionId', 'BatchId', 'AccountId', 'SubscriptionId', 'CustomerId',
       'CurrencyCode', 'CountryCode', 'ProviderId', 'ProductId',
       'ProductCategory', 'ChannelId', 'Amount', 'Value',
       'TransactionStartTime', 'PricingStrategy', 'FraudResult',
       'transaction_hour', 'transaction_day', 'transaction_month',
       'transaction_year'],
      dtype='object')